{% extends "layout.html" %}

{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Number of absents</th>
            <th>Start date</th>
            <th>End date</th>
            <th>Details</th>
        </tr>
    </thead>
    {% for event in events %}
    <tbody>
        <tr>
            <td>{{ event.event_name }}</td>
            <td>{{ event.event_description }}</td>
            <td>{{ event.count_names }}</td>
            <td>{{ event.event_date_start }}</td>
            <td>{{ event.event_date_end }}</td>
            <td><a href="{{ url_for('event_view', event_id=event.event_id) }}">View event details</a></td>
        </tr>
    </tbody>
    {% endfor %}
</table>
{% endblock %}