{% extends "layout.html" %}

{% block body %}
<h3>Event details</h3>
<table class="table">
    <thead>
        <tr>
            <th>Event</th>
            <th>Description</th>
            <th>Place</th>
            <th>Address</th>
            <th>Room</th>
            <th>Start date</th>
            <th>End date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ event.name }}</td>
            <td>{{ event.description }}</td>
            {% if event.Room.name %}
                {% if event.Room.Place.name %}
                    <td>{{ event.Room.Place.name }}</td>
                    <td>{{ event.Room.Place.address }}</td>
                    <td>{{ event.Room.name }}</td>
                {% else %}
                    <td>-</td>
                    <td>-</td>
                    <td>{{ event.Room.name }}</td>
                {% endif %}
            {% else %}
                <td>-</td>
                <td>-</td>
                <td>-</td>
            {% endif %}
            <td>{{ event.date_start.strftime('%Y-%m-%d') }}</td>
            <td>{{ event.date_end.strftime('%Y-%m-%d') }}</td>
        </tr>
    </tbody>
</table>
{{ pagination.info }}
{{ pagination.links }}
<table class="table">
    <thead>
        <tr>
            <th>Name of the user</th>
            <th>Absence</th>
            <th>Description</th>
            <th>Absence start date</th>
            <th>Absence end date</th>
        </tr>
    </thead>
    <tbody>
        {% for notavailable in notavailables %}
        <tr>
            <td>{{ notavailable.account_name }}</td>
            <td>{{ notavailable.absence_name }}</td>
            <td>{{ notavailable.absence_description }}</td>
            {% set start = notavailable.absence_date_start|string %}
            <td>{{ start[0:10] }}</td>
            {% set end = notavailable.absence_date_end|string %}
            <td>{{ end[0:10] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.links }}
{% endblock %}
