{% extends "layout.html" %}

{% block body %}
<h3>Update room</h3>
<form method="POST" action="{{ url_for('room_update', room_id=room.id) }}">
    <table>
        <tr>
            <td>
                Old name of the room: {{ room.name }}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for nameerror in form.name.errors %}
                    <li>
                        {{ nameerror }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                Old place of the room: {{ oldplace.name }}
            </td>
        </tr>
        <tr>
            <td>
                Select new place
            </td>
            <td>
                <select name="place_id">
                    {% for place in places %}
                        <option value="{{ place.id }}"
                                {% if place.id==oldplace.id %}
                                  selected="selected"
                                {% endif %}
                        >{{ place.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update room name and/or place"/>
            </td>
        </tr>
    </table>
</form>
<table>
    <tr>
        <td>
            <form method="POST" action="{{ url_for('room_delete', room_id=room.id) }}">
                <input type="submit" value="Delete room"/>
            </form>
        <td>
    </tr>
</table>
{% endblock %}
