{% extends "layout.html" %}

{% block body %}
<h3>Update account</h3>
<form method="POST" action="{{ url_for('auth_update', auth_id=current_user.id) }}">
    <table>
        <tr>
            <td>
                <b>Old name: {{ current_user.name }}</b>
            </td>
        </tr>
        <tr>
            <td>
                {{ form.name.label }}
            </td>
            <td>
                {{ form.name }}
            </td>
            <td>
                <ul>
                    {% for nameerror in form.name.errors %}
                    <li>
                        {{ nameerror }}
                    </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <td>
                <b>Old instrument: {{ oldinstrument.name }}</b>
            </td>
        </tr>
        <tr>
            <td>
                Select new instrument
            </td>
            <td>
                <select name="instrument_id">
                    {% for instrument in instruments %}
                        <option value="{{ instrument.id }}"
                                {% if instrument.id==oldinstrument.id %}
                                  selected="selected"
                                {% endif %}
                        >{{ instrument.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Update name and instrument"/>
            </td>
        </tr>
    </table>
</form>
{% endblock %}