{% extends "layout.html" %}

{% block body %}
<h3>My absences</h3>
{% if participation %}
    <p>My participation percent is {{ participation }} %.</p>
{% endif %}
<h3>Absences of {{ account.name }}</h3>
{{ pagination.info }}
{{ pagination.links }}
<table class="table">
    <thead>
        <tr>
            <th>Name of the event</th>
            <th>Event start date</th>
            <th>Event end date</th>
            <th>Absence</th>
            <th>Description</th>
            <th>Absence start date</th>
            <th>Absence end date</th>
        </tr>
    </thead>
    <tbody>
        {% for absence in absences %}
        <tr>
            <td>{{ absence.event_name }}</td>
            {% set event_start = absence.event_date_start|string %}
            {% if event_start|length > 4 %}
                <td>{{ event_start[0:10] }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            {% set event_end = absence.event_date_end|string %}
            {% if event_end|length > 4 %}
                <td>{{ event_end[0:10] }}</td>
            {% else %}
                <td>-</td>
            {% endif %}
            <td>{{ absence.absence_name }}</td>
            <td>{{ absence.absence_description }}</td>
            {% set absence_start = absence.absence_date_start|string %}
            <td>{{ absence_start[0:10] }}</td>
            {% set absence_end = absence.absence_date_end|string %}
            <td>{{ absence_end[0:10] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{{ pagination.links }}
{% endblock %}
