{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Instrument</th>
    </tr>
    {% for instrument in instruments %}
    <tr>
      <td>{{ instrument.name }}</td>
      <td>
        <form method="POST" action="{{ url_for('instruments_update_name', instrument_id=instrument.id) }}">
          <input type="text" name="name"/>
          <input type="submit" value="Update instrument name"/>
        </form>
      <td>
      <td>
        <form method="POST" action="{{ url_for('instruments_delete', instrument_id=instrument.id) }}">
          <input type="submit" value="Delete instrument"/>
        </form>
      <td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
